<!DOCTYPE html>
<html>
    <head>
        <title>Lab 5</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Right Button!</h1>
        <p>You finally got here!</p>
    </body>
    <div class="button">
        <button>Press!</button>
    </div>
    <div class="button">
        <button>Press!</button>
    </div>
    <div class="button">
        <button>Press!</button>
    </div>
    <div class="button">
        <button>Press!</button>
    </div>
    <div class="button">
        <button>Press!</button>
    </div>
    <div class="button">
        <button>Press!</button>
    </div>
    <div class="button">
        <button>Press!</button>
    </div>
    <div class="button">
        <button>Press!</button>
    </div>
    <footer>
        <button>Press!</button>
    </footer>
</html>

