<!DOCTYPE html>
<html>
    <head>
        <title>Lab 6</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Welcome to Lab 6!</h1>
        <div id="index">
            <a href="{{url_for('signup') }}">
                <button type="button"> Sign up!</button>
            </a>

            <a href="{{url_for('login') }}">
                <button type="button">Log In!</button>
            </a>

            <a href="{{url_for('users') }}">
                <button type="button">Users!</button>
            </a>
        </div>
    </body>
</html>
